name: CI

on:
  pull_request: ~
  push: ~
  workflow_dispatch: ~

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4', '8.5']
        symfony: ['6.4.*', '7.3.*', '7.4.*', '8.0.*']
        include:
          - php: '8.1'
            symfony: '6.4.*'
        exclude:
          - php: '8.2'
            symfony: '8.0.*'
          - php: '8.3'
            symfony: '8.0.*'

    name: PHP ${{ matrix.php }} Symfony ${{ matrix.symfony }}

    steps:
      - uses: actions/checkout@v4

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ matrix.php }}-${{ matrix.symfony }}-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            composer-${{ matrix.php }}-${{ matrix.symfony }}-

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          extensions: :xdebug

      - run: php ./tests/bin/pin-symfony-version.php "${{ matrix.symfony }}"

      - run: composer update --no-progress --prefer-stable

      - run: ./vendor/bin/phpunit

      - run: ./vendor/bin/php-cs-fixer check
